
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background-image: url("../Media/hard.jpg");
    min-height:100vh ;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bakbak One', cursive;
}
/* .icons {
    width: 200px;
    height: 100px;
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 760px;
    margin-bottom: 200px;
    color:royalblue;
    background-color: chocolate;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
} */
.btn{
    position: absolute;
    background-color: brown;
    color: aqua;
    font-weight: bold;
    left:800px;
    top: 200px;
    font-weight: bold;
    font-size: 40px;
}
.mod a{
    position: absolute;
    top: 550px;
    left:90px;
    font-size: 40px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(194, 191, 47);
    font-weight: bolder;
}
.mod a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    color: green;
    background: blue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.mod a:hover::after {
    transform: scaleX(1);
}
button{
    margin: 50px;
    
}
.easy{
    margin-top: 550px;
}
.easy a {
    position: absolute;
    top: 450px;
    left:90px;
    font-size: 40px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(194, 191, 47);
    font-weight: bolder;
}
.easy a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    color: green;
    background: blue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.easy a:hover::after {
    transform: scaleX(1);

}

#board{
    background: linear-gradient(rgb(27, 51, 21),rgb(238, 236, 113));
    width:100vmin ;
    height:92vmin ;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18 , 1fr);
    border: 3px solid yellowgreen;
    /* justify-content:center; */
    margin-right: 220px;
    /* background: transparent?; */
}

#scoreBox{
    position: absolute;
    top: 9px;
    color: wheat;
    right: 112px;
    font-size: 40px;
    font-weight: bold;
}
#HIGHSCOREBox{
    color: wheat;
    position: absolute;
    top: 70px;
    right: 80px;
    font-size: 40px;
    font-weight: bold;
}
.snake{
    background : linear-gradient(rgb(218, 33, 33), rgb(236, 240, 35));
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    transform: scale(1.02);
    border-radius: 9px;
}

.head{
    background-color: brown;
    /* border-top: .25vmin solid white;
    border-right: .25vmin solid white;
    border-left: .25vmin solid white;
    border-radius: 12px; */

}
h1{
    position: absolute;
    top: 40px;
    left:100px;
    font-size: 40px;
    font-weight: bold;
    background:linear-gradient(yellow,orange);
    font-weight: bolder;
}
h2{
    position: absolute;
    top: 250px;
    left:90px;
    font-size: 40px;
    font-weight: bold;
    /* background-color: rgb(194, 191, 47); */
    font-weight: bolder;
}
.food{
    background : linear-gradient(rgb(38, 104, 0), rgb(164, 167, 25));
    /* border: .25vmin solid black; */
    border-radius: 20px;
    z-index: 0.;
}
.box{
    font-size: large;
    text-align: center;
    background-color: aliceblue;
    color: aliceblue;
    display: block;
}

@media(max-width:400px) {
    #box-1{
        display: block;
        background-color: cyan;
    }
    
}

@media(min-width:400px) and (max-width:800px) {
    #box-2{
        display: block;
        background-color: cyan;
    }
    
}
@media(min-width:1200px) and (max-width:1600px) {
    #box-3{
        display: block;
        background-color: cyan;
    }
    
}
@media(min-width:1600px ){
    #box-4{
        display: block;
        background-color: cyan;
    }
    
}